.apply{
  background-color: #ffffff;
  &__background-1{
    text-align: center;
    margin: auto;
    @include sp{
      padding-top: 20px;
      width: 200px;
      border-bottom: 4px solid #ffa0ae;
    }
    @include pc{
      width: 300px;
      padding-top: 80px;
      border-bottom: 10px solid #ffa0ae;
      margin-bottom: 40px;
    }
  }
  &__text-1{
    font-weight: bold;
  }
  &__text-2{
    padding-top: 2em;
    margin: 0 10px;
    @include pc{
      width: 1000px;
      margin: 40px auto;
    }
    @include pc-s{
      width: 100%;
    }
  }
  &__image-1{
    display: block;
    width: 1000px;
    margin: auto;
    @include pc-s{
      width: 100%;
    }
  }
  &__text-3{
    @include sp{
      padding-top: 2em;
      margin: 0 10px;
    }
    @include pc{
      width: 1000px;
      margin: 40px auto;
      @include pc-s{
        width: 100%;
      }
    }
  }
  &__content-1{
    @include sp{
      padding: 30px 10px;
    }
    @include pc{
      margin: 80px auto;
    }
    @include pc-s{
      width: 100%;
    }
  }
  &__box-1{
    background-color: #ffe7ea;
    border-radius: 1em;
    @include sp{
      margin: 20px 10px 0;
      padding: 10px;
    }
    @include pc{
      width: 1000px;
      margin: auto;
      padding: 20px;
    }
    @include pc-s{
      width: 100%;
    }
  }
}

