.continue{
  background-color: #ffe7ea;
  padding-bottom: 2em;
  background-color: rgba(255,245,247,1);
	background-image:
	 linear-gradient(45deg, rgba(255,250,250,1) 25%, transparent 25%,
	  transparent 75%, rgba(255,250,250,1) 75%, rgba(255,250,250,1)),
	 linear-gradient(-45deg, rgba(255,250,250,1) 25%, transparent 25%,
	  transparent 75%, rgba(255,250,250,1) 75%, rgba(255,250,250,1));
	background-size: 40px 40px;
	background-position: 0 0, 20px 20px;
  &__background-1{
    text-align: center;
    background-color: #ffa0ae;
    padding-top: 3em;
    padding-bottom: 2em;
    @include pc{
      padding-top: 80px;
      padding-bottom: 80px;
    }
  }
  &__content-1{
    margin: auto;
    @include sp{
      width: 250px;
      border-bottom: 4px solid #ffffff;
    }
    @include pc{
      width: 550px;
      border-bottom: 10px solid #ffffff;
    }
  }
  &__text-1{
    font-weight: bold;
  }
  &__box-1{
    background-color: #ffffff;
    border: 4px solid #e6dbaf;
    @include sp{
      margin: 20px 10px 0;
      padding-bottom: 20px;
    }
    @include pc{
      margin: 80px auto 40px;
      padding-bottom: 40px;
    }
    @include pc-s{
      width: 100%;
    }
  }
  &__text-2{
    // padding-left: 10px;
    font-weight: bold;
    @include sp{
      padding: 10px 10px;
    }
    @include pc{
      margin: 20px;
      border-bottom: 4px dotted #cd6171;
    }
  }
  &__span-1 {
    display: inline-block;
    background-color: #cd6171;
    color: #ffffff;
    text-align: center;
    text-indent: 0;
    @include sp{
      margin-right: 10px;
      font-size: 10px;
      width: 25px;
      height: 25px;
      line-height: 25px;
    }
    @include pc{
      margin-right: 20px;
      width: 30px;
      height: 30px;
      line-height: 30px;
    }
  }
  &__image-1{
    width: 100%;
  }
  &__text-3{
    @include sp{
      padding: 10px 10px 0;
    }
    @include pc{
      margin: 1em 40px 0;
    }
  }
  &__text-4{
    @include sp{
      padding: 20px 10px 0;
    }
    @include pc{
      margin: 1em 40px 0;
    }
  }
  &__content-2{
    background-color: #e5e5e5;
    @include sp{
      margin: 10px;
      padding: 0 10px 10px;
    }
    @include pc{
      margin: 40px;
      padding: 20px;
    }
  }
  &__text-5{
    padding-top: 10px;
  }
  &__text-6{
    @include sp{
      padding: 20px 10px 0;
    }
    @include pc{
      margin: 0 40px;
    }
  }
  &__span-2{
    color: #cd6171;
    @include sp{
      font-size: 16px;
    }
  }
  &__image-2{
    width: 100%;
    padding-top: 1em;
  }
  &__text-7{
    padding-top: 1em;
    @include sp{
      padding: 20px 10px 0;
      font-size: 14px;
    }
    @include pc{
      margin: 0 40px;
    }
  }
}
