.lifeplan{
  text-align: center;
  &__background-1{
    height: 100%;
    width: 100%;
    background-image:url("../assets/img/strype_sp2.png");
    // background-color: rgba(255,255,255,0.8) ;
    background-size: cover;
    @include sp{
      padding-bottom: 20px;
    }
  }
  &__border-1{
    margin: auto;
    text-align: center;
    @include sp{
      padding-top: 35px;
    }
    @include pc{
      padding-top: 100px;
    }
  }
  &__span-1{
    display: block;
    margin: auto;
    @include sp{
      border-bottom: solid 5px #ffa0ae;
      width:100px;
    }
    @include pc{
      border-bottom: solid 10px #ffa0ae;
      width:300px;      
    }
  }
  &__background-2{
    position: relative;
    text-align: left;
    margin: auto;
    width: 80%;
    background: #fff8e6;
    border-radius: 100px;
    padding-left: 2em;
    @include sp{
      height: 30px;
      font-size: 12px;
      margin-top: 30px;
      border: solid 1px #ffe7ea;
    }
    @include pc{
      height: 100px;
      margin-top: 100px;
      border: solid 4px #ffe7ea;
      text-align: center;
      width: 1000px;
    }
    @include pc-s{
      width: 100%;
    }
  }
  &__text-1{
    position: absolute;
    top: -20px;
    display: inline-block;
    color:#cd6171;
    background-color: #ffe7ea;
    transform: rotate(-5deg);
    @include sp{
      border-bottom: 1px solid #cd6171;
    }
    @include pc{
      margin-left: -400px;
    }
  }
  &__text-2{
    @include sp{
      font-size: 12px;
    }
    @include pc{
      font-size: 32px;
    }
  }
  &__span-2{
    @include sp{
      border-bottom: 2px solid #cd6171;
      font-size: 14px;
    }
    @include pc{
      border-bottom: 4px solid #cd6171;
      font-size: 48px; 
    }
  }
  &__content-1{
    text-align: left;
    background: rgba(255, 255, 255, 0.8);
    @include sp{
      margin: 30px 10px 0px;
      padding-bottom: 20px;
    }
    @include pc{
      margin: 100px auto 0;
      padding: 40px;
    }
    @include pc-s{
      width: 100%;
    }
  }
  &__text-3{
    padding-top: 2em;
    @include sp{
      margin: 0 10px;
    }
  }
  &__background-3{
    @include pc{
      height: 100%;
    }
  }
  &__image-1{
    width: 100%;
  }
  &__text-4{
    padding-top: 2em;
    @include sp{
      margin: 0 10px;
    }
  }
  &__text-5{
    background-color: #ffd583;
    padding-left: 2em;
    @include sp{
      margin: 20px 10px 10px;
    }
  }
  &__text-6{
    position: relative;
    @include pc{
      margin-top: 1em;
    }
    &:before{
      position: absolute;
      content: '';
      display: inline-block;
      width: 15px;
      height: 15px;
      background-color: #ffd583;
      border-radius: 50%;
      margin-top: 3px;
      margin-left: -1.5em;
      @include pc{
        width: 30px;
        height: 30px;
        margin-top: 5px;
      }
    }
  }
  &__content-2{
    padding-left: 3em;
  }
  &__text-7{
    padding-top: 2em;
    @include sp{
      margin: 0 10px;
    }
  }
  &__span-3{
    display: block;
    font-weight: bold;
  }
}
