.must{
  &__background-1{
    background-image: url("/assets/img/pc_hands.png");
    width: 100%;
    background-size: cover;
    background-position:50%;
    position: relative;
    @include sp{
      height: 252px;
    }
    @include pc{
      height: 900px;
      // スクロール用
      position: relative;
      min-height: 100%;
      background-size: cover;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-position: center center;
      z-index: 2;
    }
    &::before {
      content: '';
      background-color: rgba(255,255,255,.5);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }
  &__text-1{
    margin: 0;
    padding: 2em 0 0;
    font-weight: bold;
    position: relative;
    @include sp{
    font-size: 18px;
    }
  }
  &__border-1{
    margin: auto;
    text-align: center;
    @include sp{
      border-bottom: solid 5px #ffa0ae;
      width:200px;
    }
    @include pc{
      border-bottom: solid 10px #ffa0ae;
      width:400px;
    }
  }
  &__image-1{
    position: absolute;
    left: 50%;
    @include sp{
      top: 6em;
      width: 115px;
      margin-left: -58px;
    }
    @include pc{
      width: 200px;
      margin-top: 40px;
      margin-left: -100px;
    }
  }
  &__image-2-pc{
    @include sp{
      display: none;
    }
    @include pc{
      position: absolute;
      top: 420px;
      left: 50%;
      margin-left: -259px;
    }
  }
  &__image-2-sp{
    @include sp{
      width: 100%;
    }
    @include pc{
      display: none;
    }
  }
  &__box-1{
    @include sp{
      position: relative;
      margin: 40px 10px 0;
      padding: 30px 10px 10px;
      border: solid 1px #ffd583
    }
    @include pc{
      position: relative;
      width: 1000px;
      margin: 40px auto 0;
      padding: 40px;
      border: solid 1px #ffd583
    }
    @include pc-s{
      width: 100%;
    }
  }
  &__background-2{
    position: absolute;
    margin: 0 auto;
    text-align: center;
    border-radius: 50%;
    background-color: #ff0000;
    left: 50%;
    @include sp{
      width: 34px;
      height: 34px;
      border: solid 1px #ffd583;
      top: -17px;
      margin-left: -17px;
    }
    @include pc{
      width: 50px;
      height: 50px;
      border: solid 2px #ffd583;
      top: -25px;
      margin-left: -25px;
    }
  }
  &__text-2{
    color: #ffffff;
    @include sp{
      font-size: 18px;
    }
    @include pc{
      font-size: 28px;
    }
  }
  &__text-3{
    @include sp{
      font-size: 14px;
      font-weight: bold;
    }
    @include pc{
      text-align: center;
      font-weight: bold;
    }
  }
  &__box-2{
    background: #ffebc1;
    @include sp{
      position: relative;
      margin: 40px 10px 0;
      padding: 30px 10px 10px;
      border: 1px dashed #E6DBAF;
      border-radius: 15px;
    }
    @include pc{
      position: relative;
      width: 1000px;
      margin: 40px auto 0;
      padding: 40px;
      border: 2px dashed #E6DBAF;
      border-radius: 15px;
    }
    @include pc-s{
      width: 100%;
    }
  }
  &__background-3{
    position: absolute;
    margin: 0 auto;
    text-align: center;
    background-color: #000000;
    left: 50%;
    @include sp{
      width: 34px;
      height: 34px;
      top: -17px;
      margin-left: -17px;
      border-radius: 10px;
    }
    @include pc{
      width: 50px;
      height: 50px;
      top: -25px;
      margin-left: -25px;
      border-radius: 10px;
    }
  }
  &__text-4{
    color: #9f9dff;
    @include sp{
      font-size: 18px;
      padding-top: 2px;
    }
    @include pc{
      font-size: 24px;
      padding-top: 5px;
    }
  }
  // &__text-5{
  // }
  // &__text-6{
  // }
  &__text-7{
    @include sp{
      padding: 20px 10px 0;
      font-size: 14px;
    }
    @include pc{
      width: 1000px;
      margin: 40px auto 0;
    }
    @include pc-s{
      width: 100%;
    }
  }
  &__content-1{
    position: relative;
    padding-top: 2em;
    padding-left: 2em;
    @include sp{
      margin: 0 10px;
      font-size: 14px;
    }
    @include pc{
      width: 1000px;
      margin: 0 auto;
      font-size: 24px;
    }
    @include pc-s{
      width: 100%;
    }
  }
  &__image-3{
   position: absolute;
    @include sp{
      top: 30px;
      left: 10px;
      height: 20px;
    }
    @include pc{
      top: 55px;
      left: 15px;
      height: 30px;
    }
  }
  &__content-2{
    display: flex;
    justify-content: center;
  }
  &__text-8{
    position: relative;
    @include sp{
      padding-top: 20px;
    }
    @include pc{
      padding-top: 100px;
    }
    &:before{
      position: absolute;
      content: '';
      display: inline-block;
      width: 10px;
      height: 10px;
      background-color: #ffa0ae;
      border-radius: 50%;
      margin-top: 6px;
      margin-left: -1.5em;
      @include pc{
        width: 20px;
        height: 20px;
        margin-top: 10px;
      }
    }
  }
  &__icon{
    color: #00b900;
    // opacity: 0.5;
    @include sp{
      font-size: 50px;
    }
    @include pc{
      font-size: 120px;
    }
  }
  &__image-4{
    @include sp{
      padding-top: 20px;
      padding-left: 20px;
    }
    @include pc{
      width: 120px;
      padding-top: 65px;
      padding-left: 40px;
    }
  }
  &__content-3{
    padding-top: 1em;
    padding-bottom: 2em;
    @include pc{
      padding-top: 40px;
      width: 1000px;
      margin: 0 auto 40px;
    }
    @include pc-s{
      width: 100%;
    }
  }
}
